<!DOCTYPE html>
<html>
  <head>
    <title>TaskTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="flex flex-col min-h-screen">
      <header class="w-1/2 mx-auto my-8">
        <%= image_pack_tag 'media/images/logo.png', width: 173, height: 60 %>
      </header>

      <main class="flex-grow w-1/2 mx-auto text-gray-900">
        <%= yield %>
      </main>

      <footer class="w-1/2 mx-auto text-sm text-gray-400">
        All rights to PopugJira belong to UberPopug Inc.
      </footer>
    </div>
  </body>
</html>
