<div data-controller="new-issue">

  <header class="flex w-full items-baseline pb-2 border-b-2 mb-4">
    <div>
      <button
        class="bg-green-400 inline-block rounded-lg text-gray-50 text-sm px-3 py-1 hover:bg-green-500 transition-colors"
        data-action="click->new-issue#open"
      >New issue</button>
    </div>
    <h1 class="flex-grow text-center font-semibold tracking-wide text-2xl">Issues</h1>
    <div>
      <%= link_to 'Re-assign', reassign_issues_path, method: :post, remote: false, class: 'bg-indigo-400 inline-block rounded-lg text-gray-50 text-sm px-3 py-1 hover:bg-indigo-500 transition-colors' %>
    </div>
  </header>

  <%= form_with(url: issues_path, html: { class: "hidden border-2 rounded-lg inline-block overflow-hidden shadow-lg mb-6", data: { new_issue_target: 'form' } }) do |form| %>
    <%= form.text_field :name, 
      placeholder: 'Name this issue',
      class: 'focus:bg-transparent focus:border-gray-200 focus:ring-0 focus:outline-none px-2 py-2 text-gray-800 text-lg font-semibold w-96 border-t-0 border-l-0 border-r-0 border-gray-200 border-b-2',
      required: true,
      data: { new_issue_target: 'input' }
    %>
    <div class="p-2 space-x-2">
      <button class="bg-green-400 inline-block rounded-lg text-gray-50 text-sm px-3 py-1 hover:bg-green-500 transition-colors" data-disable-with="Add issue" type="submit">Add issue</button>
      <button class="inline-block text-sm px-3 py-1" data-action="click->new-issue#close" type="button">Cancel</button>
    </div>
  <% end %>


  <div class="space-y-3.5">
    <%= render @unassigned_account %>
    <%= render @accounts %>
  </div>
</div>
